# Steam API Credentials
# Get your STEAM_API_KEY from https://steamcommunity.com/dev/apikey
STEAM_API_KEY=your_steam_api_key_here

# Your Steam ID (64-bit format)
# Find it at https://steamid.io/
STEAM_ID=your_steam_id_here

# Twitch OAuth2 Credentials
# Register an application at https://dev.twitch.tv/console/apps
TWITCH_CLIENT_ID=your_twitch_client_id_here
TWITCH_CLIENT_SECRET=your_twitch_client_secret_here
